.rowCard {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(202, 198, 198, 0.5);
    border-radius: 4px;
    height:80px;
    margin:3% 2%;
    padding:1.5%;
    border-left: 18px solid #8C52FF;
}
.rowCard1 {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(202, 198, 198, 0.5);
    border-radius: 4px;
    height:70px;
    margin:3% 2%;
    padding:1.5%;
    border-left: 18px solid #8C52FF;
}
.rowCard2 {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(202, 198, 198, 0.5);
    border-radius: 4px;
    height:150px;
    width: 500px;
    margin:3% 2%;
    padding:1.5%;
}
.doctor-card {
    width: 100%;
    padding-left: 0.25rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(202, 198, 198, 0.5);
    margin:3% 2%;
    padding:1.5%;
  }
  .image-container {
    width: 100%;
  }
  
  .image-container > img {
    width: 92px;
    height: 92px;
    float: left;
    border-radius: 4px;
    margin: 10px;
  }
  .info {
    height: 102.73px;
    font-size: 12px;
    line-height: 24px;
    padding: 13px;
    overflow-wrap: normal;
  }
.rowHeading {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.details {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}
.report {
    font-weight: 500;
}
.report-span {
    display: flex;
}
.report-details {
    margin-left: 150px;
}
.newrow{
    display:inline
}
.details2 {
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}