.rowCard {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(202, 198, 198, 0.5);
    border-radius: 4px;
    height:80px;
    margin:3% 2%;
    padding:1.5%;
    border-left: 18px solid #8C52FF;
}
.rowHeading {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.details {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}