body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.purple-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: #8c52ff;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
}
.purple-btn:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #8c52ff;
  color: #8c52ff;
}
.purple-outline-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  border: 1px solid #8c52ff;
  color: #8c52ff;
}
.purple-outline-btn:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background: #8c52ff;
  border-radius: 4px;
  color: #fff;
}
.btn-signin {
  width: 40%;
}
.form {
  padding: 50px 50px ;
}

.row {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}
.col {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color:#8c52ff;
}
p {
 padding-top: 10px;
 padding-right: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: lightgray;
}

li {
  float: left;
}

li a {
  display: block;
  color: #8c52ff;
  font-size:20px;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}
.active{
background-color: gray;
color: white;
}
li a:hover {
  background-color: #8c52ff;
  color: white;
}